@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800');


:root{
--primary-color-dark:   #343a40;
--primary-color:        #334659;
--primary-color-light:  #fff;
--bg-color: #dee1e5;
--color-secundary: #8b6ae7;
}

.App {
  text-align: center;
  background-color: var(--bg-color);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}



.App-link {
  color: #61dafb;
}

figure{
  width: 35%;
  float: left;
  margin: 0px;
  
}

.btn-primary{
  background-color: #8b6ae7;
  border-color: #8b6ae7;
}

.btn-primary:hover{
  background-color: #654cab;
  border-color: #8b6ae7;
}

figure img{
  width: 100%;
  height: auto;
  background-color: #eee;
}

.navbar-dark{
background-color: var(--primary-color);
}

.card{
  background-color:white;
  margin: 0.5rem;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: left;
  display: flex;
  align-items: stretch;
  flex-flow: row wrap;

}

.card__content{
  width: 65%;
  float: left;
  position: relative;
}


.card__content__header{
  padding: 1rem 0 0.5rem 0;
  background-color: var(--color-secundary);
  color: white;
  text-align: center;

}

.card__content__header h2{
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;


}

.card__content__main p{
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  margin-top: 1rem;

}

.card__content__main ul{
  padding-inline-start: 0.7rem;

}

.card__content__main li {
  list-style: none;
  display: inline;
  margin-right: 0.7rem;
  font-weight: 600;
}

.body__footer{
  background-color: var(--primary-color);
  padding: 1rem;
  color: var(--primary-color-light);
}
aside.social ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 0px;
}
aside.social a {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 1rem;
  font-size: 3rem;
  color: #4c6c86;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
